<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BruTile" version="0.21.1" targetFramework="monoandroid71" />
  <package id="HtmlAgilityPack" version="1.6.6" targetFramework="monoandroid80" />
  <package id="Mapsui" version="1.0.7" targetFramework="monoandroid71" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="monoandroid71" />
  <package id="Plugin.CurrentActivity" version="1.0.1" targetFramework="monoandroid70" />
  <package id="Plugin.Permissions" version="2.1.0" targetFramework="monoandroid70" />
  <package id="SkiaSharp" version="1.56.2" targetFramework="monoandroid71" />
  <package id="SkiaSharp.Views" version="1.56.2" targetFramework="monoandroid71" />
  <package id="System.Net.Http" version="4.3.2" targetFramework="monoandroid80" />
  <package id="System.Xml.XmlDocument" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.Xml.XPath" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.Xml.XPath.XmlDocument" version="4.3.0" targetFramework="monoandroid80" />
  <package id="Xam.Plugin.Geolocator" version="4.1.2" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="25.3.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Annotations" version="25.3.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Compat" version="25.3.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Core.UI" version="25.3.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Core.Utils" version="25.3.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Design" version="25.3.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Fragment" version="25.3.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Media.Compat" version="25.3.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Transition" version="25.3.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v4" version="25.3.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="25.3.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v7.CardView" version="25.3.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v7.MediaRouter" version="25.3.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v7.Palette" version="25.3.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="25.3.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="25.3.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Build.Download" version="0.4.4" targetFramework="monoandroid71" />
  <package id="Xamarin.Forms" version="2.4.0.38779" targetFramework="monoandroid70" />
</packages>